<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styleslogin.css') }}">
  
</head>
<body>

<h1>Sistema de Automação</h1>
<div class="cadastro-page">
    <div class="form">

      <form class="login-form">
          <input type="text" placeholder="nome"/>
          <input type="password" placeholder="senha"/>
          <input type="text" placeholder="email"/>
          <button type="submit" class="btn btn-default">Criar </button>
          <p class="message">Já tem Cadastro? <a href="http://127.0.0.1:5000/login">Entrar</a></p>
      </form>
    </div>
  </div>

</body>
