<!DOCTYPE html>
<html>
  <title>Sistema de Automação</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>

<h1>Sistema de Automação</h1>
<div id="buttons">
  <a href="http://127.0.0.1:5000/sala" class="btn green" id="btn_sala">Sala</a>
  <a href="http://127.0.0.1:5000/cozinha" class="btn red" id="btn_cozinha">Cozinha</a>
  <a href="http://127.0.0.1:5000/banheiro" class="btn orange" id="btn_banheiro">Banheiro</a>
  <a href="http://127.0.0.1:5000/copa" class="btn blue" id="btn_copa">Copa</a>
  <a href="http://127.0.0.1:5000/escritorio" class="btn purple" id="btn_escritorio">Escritótio</a>
  <a href="http://127.0.0.1:5000/quarto1" class="btn yellow" id="btn_quarto1">Quarto 1</a>
  <a href="http://127.0.0.1:5000/quarto2" class="btn yellow" id="btn_quarto2">Quarto 2</a>
  <a href="http://127.0.0.1:5000/quarto3" class="btn yellow" id="btn_quarto3">Quarto 3</a>
</div>

</body>
